<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
        </p>
    </div>
</div> <!-- /container -->
<div class="container">
    <div>
        <h1>LoL GG</h1>
        <p>점수 입력</p>
        <p>
            <a href="/scores/new">점수 입력</a>
            <a href="/scores">점수 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>